<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
      <add key="ForSaving" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\ForSaving\\"/>
      <add key="fixedImage1" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\Buildings\\fixedImage1.jpg"/>
      <add key="fixedImage2" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\Buildings\\fixedImage2.jpg"/>
      <add key="fixedImage3" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\Buildings\\fixedImage3.jpg"/>
      <add key="fixedImage4" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\Buildings\\fixedImage4.jpg"/>
      <add key="fixedImage5" value="C:\\Users\\David H\\Documents\\Visual Studio 2017\\Projects\\IsolatedTestingOfVDP\\IsolatedTestingOfVDP\\Buildings\\fixedImage5.jpg"/>
  </appSettings>
</configuration>